<img src="assets/img.png" alt="Biuro Turystyczne">
<div class="container my-4">
  <div class="card artistic-business-card">
    <div class="card-body business-info">
      <h1 class="card-title">Tripper</h1>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur eligendi et excepturi expedita facilis illum magnam nemo, non perferendis recusandae sed sint ullam vero? Asperiores cumque cupiditate delectus dolorem dolores in nostrum, odio quia quisquam voluptatibus. Ab architecto iusto, maiores quasi repellat ullam voluptatum. A accusamus aliquid aperiam assumenda culpa, cupiditate, delectus dolorem eveniet facere, laborum laudantium mollitia nulla omnis pariatur ratione temporibus ut! Accusamus alias aliquam assumenda at commodi dignissimos doloremque dolorum ipsa, iure magni maxime modi praesentium quae quisquam rerum sit totam ullam? Amet ducimus et illo in officiis quam, quia quod repellendus. Amet, eius ipsum.</p>
    </div>
  </div>

  <div class="card contact-details mt-4">
    <div class="card-body">
      <h4 class="card-title">Dane kontaktowe</h4>
      <p class="card-text">Adres: ul. Przykładowa 123, 00-001 Sosnowiec</p>
      <p class="card-text">Telefon: +48 123 456 789</p>
      <p class="card-text">Email: biuro&#64;example.com</p>
    </div>
  </div>

  <div class="card location-map mt-4">
    <div class="card-body">
      <iframe width="100%" height="500" src="https://www.openstreetmap.org/export/embed.html?bbox=19.10170555114746%2C50.270361464240914%2C19.150886535644535%2C50.28917473850344&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=15/50.2798/19.1263">View Larger Map</a></small>
    </div>
  </div>
</div>

