<div class="container-fluid d-flex flex-column flex-lg-row">
  <div class="d-flex flex-column m-3 col">
    <mat-form-field>
      <mat-label>Nazwa:</mat-label>
      <input matInput type="text" name="name" id="name" [(ngModel)]="filter.name" (keyup)="filterTrips()" class="form-control mb-3">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cena od:</mat-label>
      <input matInput type="number" name="price_from" id="price_from" [(ngModel)]="filter.priceFrom" (change)="filterTrips()" [min]="lowestPrice()" [max]="highestPrice()">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cena do:</mat-label>
      <input matInput type="number" name="price_to" id="price_to" [(ngModel)]="filter.priceTo" (change)="filterTrips()" [min]="lowestPrice()" [max]="highestPrice()">
    </mat-form-field>
  </div>

  <div class="d-flex flex-column m-3 col">
    <mat-form-field>
      <mat-label>Wybierz Kraj</mat-label>
      <mat-select [(ngModel)]="filter.country" (selectionChange)="filterTrips()">
        <mat-option [value]="null">Wszystkie</mat-option>
        <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wybierz oceny</mat-label>
      <mat-select [(ngModel)]="filter.rating" (selectionChange)="filterTrips()">
        <mat-option [value]="null">Wszystkie</mat-option>
        <mat-option *ngFor="let rating of [1,2,3,4,5]" [value]="rating">{{ rating }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex flex-column m-3 col">
    <mat-form-field>
      <mat-label>Od daty:</mat-label>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Od daty" [(ngModel)]="filter.startDate" (change)="filterTrips()" [min]="nearestAndFurthestDates('startDate').furthest" [max]="nearestAndFurthestDates('startDate').nearest">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Do daty:</mat-label>
      <input matInput [matDatepicker]="endDatePicker" placeholder="Do daty" [(ngModel)]="filter.endDate" (change)="filterTrips()" [min]="nearestAndFurthestDates('endDate').furthest" [max]="nearestAndFurthestDates('endDate').nearest">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
