<div class="container-fluid d-flex flex-column flex-lg-row">
  <div class="d-flex flex-column m-3">
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput type="text" name="name" id="name" [(ngModel)]="filter.name" (keyup)="filterTrips()" class="form-control mb-3">
    </mat-form-field>
  </div>

  <div class="d-flex flex-column m-3">
    <mat-form-field>
      <mat-label>Wybierz Kraj</mat-label>
      <mat-select [(ngModel)]="filter.country" (selectionChange)="filterTrips()">
        <mat-option [value]="null">Wszystkie</mat-option>
        <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wybierz oceny</mat-label>
      <mat-select [(ngModel)]="filter.rating" (selectionChange)="filterTrips()">
        <mat-option [value]="null">Wszystkie</mat-option>
        <mat-option *ngFor="let rating of [1,2,3,4,5]" [value]="rating">{{ rating }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex flex-column m-3">
    <mat-form-field>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a start date" [(ngModel)]="filter.startDate" (change)="filterTrips()">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endDatePicker" placeholder="Choose an end date" [(ngModel)]="filter.endDate" (change)="filterTrips()">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="d-flex flex-column m-3">
<!--    <mat-form-field>-->
<!--      <mat-label>Price From:</mat-label>-->
<!--      <mat-slider [(ngModel)]="filter.priceFrom" (input)="filterTrips()" [min]="lowestPrice()" [max]="highestPrice()" step="1"></mat-slider>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Price To:</mat-label>-->
<!--      <mat-slider [(ngModel)]="filter.priceTo" (input)="filterTrips()" [min]="lowestPrice()" [max]="highestPrice()" step="1"></mat-slider>-->
<!--    </mat-form-field>-->
  </div>
</div>
