<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <app-trips-filters></app-trips-filters>
    </aside>

    <div class="col-md-9 my-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="">Wycieczki</h2>
      </div>

      <div class="row">
        <div *ngFor="let trip of trips | searchPipe : search" class="col-sm-6 mb-4">
          <div class="card p-3"
               [ngClass]="{
                 'low-availability': isLowAvailability(trip),
                 'cheapest': isCheapestTrip(trip),
                 'most-expensive': isMostExpensiveTrip(trip)
               }">
            <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
              <img [src]="trip.imageUrl" alt="trip" class="card-img-top img-cover" >
            </div>
            <div class="card-body">
              <h4 class="card-title">{{ trip.name | uppercase }}</h4>
              <p class="card-text">{{ trip.description }}</p>
              <div class="mb-3">
                <app-star-rating [selectedStars]="3" (ratingChanged)="updateRating(trip, $event)"></app-star-rating>
              </div>
              <p class="card-text"><strong>Kraj:</strong> {{ trip.country | uppercase }}</p>
              <p class="card-text"><strong>Cena:</strong> {{ trip.pricePLN | currencyConversion:selectedCurrency }}</p>
              <p class="card-text" [ngClass]="{'low-availability-text': isLowAvailability(trip)}">
                <strong>Wolne miejsca:</strong> {{ emptySlots(trip) }} z {{ trip.maxPeople }}
              </p>
              <p class="card-text"><strong>Wyjazd:</strong> {{ trip.startDate | formatTimestamp }}</p>
              <p class="card-text"><strong>Powrót:</strong> {{ trip.endDate | formatTimestamp }}</p>
              <div class="flex flex-wrap">
                <button *ngIf="!isAddButtonHidden(trip)" class="btn btn-outline-dark" (click)="reserveSlot(trip)">Zarezerwuj</button>
                <button *ngIf="!isRemoveButtonHidden(trip)" class="btn btn-outline-dark" (click)="cancelReservation(trip)">Cofnij</button>
                <button *ngIf="!isDeleteButtonHidden(trip)" class="btn btn-danger" (click)="deleteTrip(trip)">Usuń</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
