<div class="container pb-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="">Wycieczki</h2>
  </div>

  <app-trips-filters></app-trips-filters>

  <div class="row">
    <div *ngFor="let trip of trips" class="col-sm-6 col-lg-4 col-xl-3 mb-4">
      <div class="card p-3"
           [ngClass]="{
             'low-availability': isLowAvailability(trip),
             'cheapest': isCheapestTrip(trip),
             'most-expensive': isMostExpensiveTrip(trip)
           }">
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
          <a [routerLink]="['/trips', trip.id]">
            <img [src]="trip.imageUrl" alt="trip" class="card-img-top img-cover">
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ trip.name | uppercase }}</h4>
          <div class="mb-3">
            <app-star-rating [clickable]="false" [starCount]="trip.stars"></app-star-rating>
          </div>
          <p class="card-text"><strong>Kraj:</strong> {{ trip.country | uppercase }}</p>
          <p class="card-text"><strong>Cena:</strong> {{ trip.pricePLN | currencyConversion:selectedCurrency }}</p>
          <p class="card-text" [ngClass]="{'low-availability-text': isLowAvailability(trip)}">
            <strong>Wolne miejsca:</strong> {{ emptySlots(trip) }} z {{ trip.maxPeople }}
          </p>
          <p class="card-text"><strong>Wyjazd:</strong> {{ trip.startDate | formatTimestamp }}</p>
          <p class="card-text"><strong>Powrót:</strong> {{ trip.endDate | formatTimestamp }}</p>
          <div class="flex flex-wrap">
            <button *ngIf="!isAddButtonHidden(trip)" class="btn btn-outline-dark" (click)="reserveSlot(trip)">Zarezerwuj</button>
            <button *ngIf="!isRemoveButtonHidden(trip)" class="btn btn-outline-dark" (click)="cancelReservation(trip)">Cofnij</button>
            <button *ngIf="!isDeleteButtonHidden(trip)" class="btn btn-danger" (click)="deleteTrip(trip)">Usuń</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Poprzednia strona</button>

    <span>strona {{ currentPage }} z {{ totalPages }}</span>

    <div class="form-group ml-3">
      <label for="pageSizeSelect" class="mr-2">Elementy na stronie:</label>
      <select id="pageSizeSelect" class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="48">48</option>
      </select>
    </div>

    <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Następna strona</button>
  </div>
</div>
