body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #dfebff;
}

h3 {
    color: #333;
    margin-top: 20px;
}

section {
    background-color: #fff;
    color: #6c6c6c;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section > div {
    font-size: 0.8em;
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 0;
}
