<div class="container my-4">
  <h2>Twoja historia zakupów</h2>

  <div class="mb-3">
    <label for="statusFilter" class="form-label">Filtruj po statusie:</label>
    <select class="form-select" id="statusFilter" [(ngModel)]="selectedStatus" (change)="filterReservations()">
      <option value="all">Wszystkie</option>
      <option value=0>Oczekiwanie na rozpoczęcie</option>
      <option value=1>W trakcie</option>
      <option value=2>Zakończona</option>
    </select>
  </div>

  <div *ngIf="filteredReservations.length === 0" class="alert alert-dark">
    Nie masz jeszcze żadnej historii. Kup coś!
  </div>

  <div *ngIf="filteredReservations.length > 0" class="mt-3">
    <div class="row border-bottom fw-bold mb-2 gy-3">
      <div class="col">Nazwa wycieczki</div>
      <div class="col">Kraj</div>
      <div class="col">Kiedy kupione</div>
      <div class="col">Data wyjazdu</div>
      <div class="col">Data powrotu</div>
      <div class="col">Cena</div>
      <div class="col">Ilość</div>
      <div class="col">Status</div>
    </div>

    <div *ngFor="let reservation of filteredReservations" class="row border-bottom align-items-center mb-2 gy-3">
      <div class="col">{{ reservation.trip.name }}</div>
      <div class="col">{{ reservation.trip.country }}</div>
      <div class="col">{{ reservation.when | formatTimestamp }}</div>
      <div class="col">{{ reservation.trip.startDate | formatTimestamp }}</div>
      <div class="col">{{ reservation.trip.endDate | formatTimestamp }}</div>
      <div class="col">{{ reservation.trip.pricePLN | currencyConversion:selectedCurrency }}</div>
      <div class="col">
        <div class="input-group">
          <span class="input-group-text">{{ reservation.quantity }}</span>
        </div>
      </div>
      <div class="col">
        <div *ngIf="getStatus(reservation) === 0" class="alert alert-success">oczekiwanie na rozpoczęcie</div>
        <div *ngIf="getStatus(reservation) === 1" class="alert alert-warning">w trakcie</div>
        <div *ngIf="getStatus(reservation) === 2" class="alert alert-dark">zakończona</div>
      </div>
    </div>
  </div>
</div>
