<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand">
      <button class="btn btn-primary">
        Strona główna
      </button>
    </a>
    <a routerLink="/photos" routerLinkActive="active" class="navbar-brand">
      <button class="btn btn-primary">
        Zdjęcia
      </button>
    </a>
    <a routerLink="/wpisy" routerLinkActive="active" class="navbar-brand">
      <button class="btn btn-primary">
        Posty
      </button>
    </a>
</nav>


<router-outlet></router-outlet>
